@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@500;700;800&display=swap');
/* reset */
/* link to source: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  max-height: 100vh;
  max-width: 100vw;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* ######### */

/* resusable components */
/* Fonts */

:root {
    /* primary colours */
    --clr-primary-red100: hsl(0, 100%, 67%);
    --clr-primary-orange200: hsl(39, 100%, 56%);
    --clr-primary-green200: hsl(166, 100%, 37%);
    --clr-primary-cobalt700: hsl(234, 85%, 45%);
    
    /* gradients */
    --clr-gradient-slate-blue100: hsl(252, 100%, 67%);
    --clr-gradient-blue700: hsl(241, 81%, 54%);
    --clr-gradient-violet-blue100: hsla(256, 72%, 46%, 1);
    --clr-gradient-persian-blue900: hsla(241, 72%, 46%, 0);
    
    
    /* neutral */
    --clr-neutral-white100: hsl(0, 0%, 100%);
    --clr-neutral-pale-blue100: hsl(221, 100%, 96%);
    --clr-neutral-lavender100: hsl(241, 100%, 89%);
    --clr-neutral-blue700: hsl(224, 30%, 27%);
    
    
}

/* typography */

:root {
    /* font sizes */
    --font-size700: 72px;
    --font-size600: 56px;
    --font-size500: 32px;
    --font-size400: 24px;
    --font-size300: 18px;
    --font-size200: 16px;

    --line-height100: 100%;
    --line-height130: 130%;

    --letter-spacing0: 0px;

    --font-weight800: 800;
    --font-weight700: 700;
    --font-weight500: 500;


    --text-preset-1: var(--font-weight800) var(--font-size700) var(--line-height100) var(--letter-spacing0);

    --text-preset-2: var(--font-weight800) var(--font-size600) var(--line-height100) var(--letter-spacing0);

    --text-preset-3: var(--font-weight700) var(--font-size500) var(--line-height130) var(--letter-spacing0);

    --text-preset-4: var(--font-weight700) var(--font-size400) var(--line-height130) var(--letter-spacing0);
    
    --text-preset-5-bold: var(--font-weight700) var(--font-size300) var(--line-height130) var(--letter-spacing0);
    
    --text-preset-5-medium: var(--font-weight500) var(--font-size300) var(--line-height130) var(--letter-spacing0);
    
    --text-preset-6-bold: var(--font-weight700) var(--font-size200) var(--line-height130) var(--letter-spacing0);
    
    --text-preset-6-medium: var(--font-weight500) var(--font-size200) var(--line-height130) var(--letter-spacing0);
    
}


/* spacing */

:root {
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-1000: 80px;
}


/* main */


.mainContainer, main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    max-width: 736px;
    margin: 0 auto;
    background: var(--clr-gradient-blue700);
}



.mainPart {
    width: 50%;
}

.mainPartOne {
    background-color: red;
}



.statsContainer {
    width: 100%;
    flex-flow: column wrap;
}



/* attribution */
.attribution {
    display: none;
}